.rooms {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline;
}

img {
    opacity: 0.5;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.control-container {
    width: 90%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.control-items {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    height: auto;
}

.control-items {
    height: auto;
    display:flex;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 60px;
}